
section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
          //h1=title 
          h2 Start uploading files!
      p 

section(class="main-content")
  //file list here